<div class="blog-articles">
  <div class="container">
    <div class="blog-title">Блог</div>
    <div class="blog-action">
      <div class="blog-filters"></div>
      <div class="blog-sorting"></div>
    </div>
    <div class="blog-cards">
      <div class="blog-card">
        <div class="blog-articles-card">
          <div class="blog-articles-card-image">
            <img src="../../../../assets/images/pages/blog/blog1.png" alt="blog">
            <div class="blog-articles-card-image-category"></div>
          </div>
          <div class="blog-articles-card-info">
            <header class="blog-articles-card-title">Стоит ли начинающему дизайнеру работать бесплатно?</header>
            <div class="blog-articles-card-text">
              Когда мы только получаем заветную бумажку о том, что мы теперь дизайнеры, перед нами встаёт самый главный вопрос — а стоит ли мне, как начинающему дизайнеру, работать бесплатно?
            </div>
            <footer class="blog-articles-card-more">
              <a routerLink="'/article',">Читать дальше</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
