@import "variables";

.auth-form {
  padding-top: 14px;
  padding-bottom: 56px;

  .auth-title {
    font-family: "Lora", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: $blue-login-color;
    padding-bottom: 40px;
  }

  .auth-inputs {
    padding-bottom: 40px;

    .auth-input {
      padding-bottom: 5px;

      input {
        width: 422px;
        color: $black-color;

        &::placeholder {
          color: $gray-color;
        }
      }
    }

    .auth-checkbox {
      display: flex;
      align-items: baseline;
      max-width: 422px;
      line-height: 130%;

      input {
        margin: 0;
      }

      label {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: $blue-color;
        margin-left: 10px;
      }
    }
  }

  .auth-button {
    button.button {
      width: 422px;
    }
  }

  .auth-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    font-size: 14px;
    color: $dark-blue-color;

    a {
      color: $blue-login-color;
      margin-left: 7px;
    }
  }
}
