@import "variables";

html, body {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button {
  font-family: 'Montserrat', sans-serif;
  background-color: $blue-footer-color;
  text-align: center;
  color: $white-color;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;

  &:disabled {
    background-color: #868686;
    cursor: not-allowed;
  }
}

.button-small {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 12px;
  width: 153px;
}

.button-big {
  padding: 15px 100px;
  width: 422px;
  font-size: 16px;
  font-weight: 400;
}

.input {
  padding: 17px 20px;
  box-sizing: border-box;
  border: 2px solid $blue-login-color;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $gray-login-color;
  outline: none;
}

select {
  -webkit-appearance: none; /* Убирает стандартную стрелку в Chrome/Safari */
  -moz-appearance: none; /* Убирает стандартную стрелку в Firefox */
  appearance: none; /* Убирает стандартную стрелку в современных браузерах */
  background-image: none; /* Убирает стрелку в IE */
}


.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}




