$container-width: 1240px;

$black-color: #000000;
$white-color: #FFFFFF;

$blue-header-text-color: #071739;
$blue-header-phone-color: #709FDC;

$blue-footer-text-color: #071739;
$blue-footer-color: #B9D5FD;
$blue-footer-title-color: #709FDC;
$blue-footer-button-color: #709FDC;
$blue-footer-copy-color: #709FDC;

