$container-width: 1240px;

// COMMON
$black-color: #000000;
$white-color: #FFFFFF;
$blue-color: #071739;
$light-blue-color: #709FDC;
$dark-blue-color: #1E1A2B;
$gray-color: #A8ABA7;

// FOOTER
$blue-footer-background-color: #B9D5FD;
$blue-footer-color: #709FDC;

// LOGIN
$blue-login-color: #709FDC;
$gray-login-color: #868686;
